.product-img {
    width: 100%;
    height: auto;
    max-width: 400px;
}
.price-tag {
    border-radius: 5px;
    border: 1px solid #ffbb33;
    color: white;
    background-color: #ffbb33;
    padding: 5px 10px;
}
.description {
    margin-top: 20px;
}
.btn-container {
    margin-top: 20px;
}